:root{
    --blue: rgb(20, 160, 207);
    --red: rgba(219, 27, 27, 0.864);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    outline: 1px solid grey;
    border-radius: 4px;
    margin: auto;
    margin-top: 4rem;
    width: 40%;
    padding: 2%;

    @media (max-width: 40rem) {
        width: 90%;
    }
}


.flex{
    display: flex;
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}


