/*// Header -----------------------------*/

.container, 
.header{
  padding: 2% 4%;
}

.container{
  height: 100%;
}


.header{
  border-bottom: 4px solid black;
}

/* // General----------------------*/

.title-big{
  font-size: 3rem;
}

.title-mid{
  font-size: 1.2rem;
}

.card-box{
  border-radius: 15px;
  border: solid var(--black);
  /* position: relative; */
}


.dashed-box{
  border: 3px dashed var(--black);
  border-radius: 15px;
}

.dashed-box:hover{
  border-style: solid;
  background-color: var(--yellow);
}

.drag-box{
  opacity: 0.6;
  border: 3px dashed black;
  border-radius: 15px;
  /* background-color: var(--grey); */
  position: relative;
  height: inherit;
}

.drag-content{
  visibility: hidden;
}

.icon-box{
  width: 2rem;
  height: 2rem;
  border: solid black 2px;
  /* border-width: 1px 3px 3px 1px; */
}

.icon-box--rounded{
  border-radius: 50%;
  line-height: 2.5rem;
}

.bkg-yellow{
  background-color: var(--yellow);
}

.bkg-blue{
  background-color: var(--blue);
}

.bkg-pink{
  background-color: var(--pink);
} 

.bkg-green{
  background-color: var(--green);
}

.bkg-dark-grey{
  background-color: var(--dark-grey);
}

.bkg-grey{
  background-color: var(--grey); 
}

.bkg-white{
  background-color: var(--white);
}

.pointer:hover{
  cursor:pointer;
}

.grab:hover{
  cursor: grab;
}

.grabbing{
  cursor: grabbing;
}





.flex, .flex-col, .flex-btwn-center{
  display: flex;
}

.flex, .flex-col{
  gap: 1rem;
}

.flex-col{
  flex-direction: column;
}

.flex-btwn-center{
  justify-content: space-between;
  align-items: center;
}



/*//  KanbanBoard -------------------------------*/

.columList{
  /* border-top: 2px solid black; */
  padding-top: 2rem;
  white-space: nowrap;
  overflow-x: auto;
}

/*// Columns --------------------------------------------*/

.column{
  height: 70vh;
  max-height: 70vh;
  width: 20rem;
  flex-shrink:0;
  padding-bottom: 2%;
}

.col-header{
  /* outline: 1px solid red; */
  padding: 5% 4% 0% 4%;
}

.column-body{
  overflow-y: auto;
  padding: 2% 4%;

}

.column--new{
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}


.col-head-bttms{
  align-self: flex-start;
  position: relative;
}

.addTask-bttm{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.1rem;
  background: none;
}

/*dropdown*/
.dropdown{
  position: absolute;
  border-radius: 2px;
  top: 2.5rem;
  right: -3rem;
  background-color: var(--white);
  z-index: 1;
}

.drop-arrow{
  width: 1rem;
  border-radius: 0;
  height: 1rem;
  position: absolute;
  border-bottom: 2px solid black;
  border-left: 2px solid black; 
  background-color: var(--white);
  top: -0.6rem;
  z-index: 1;
  left: 50%;
  transform: rotate(135deg);
}

.dropdown-list{
  position: relative;
  z-index: 2;
  list-style: none;
  padding: 0.2rem 0 ;
}

.dropdown-list li{
  padding: 10px 30px;
}

.dropdown-list li:hover{
  background-color: var(--dark-grey);
}

.task-num{
  text-align: center;
  font-size: 1rem;
  line-height: 180%;
  margin-right: 0.5rem;
  font-weight: bolder;
  background-color: var(--white);
  flex-shrink: 0;
  align-self: flex-start;
}

/*// Tasks------------------------*/
.card{
  text-wrap: wrap;
  word-break: break-all;
  width: 100%;
  padding: 1rem;
}

.tag{
  display: inline-block;
  width: 6rem;
  text-align: center;
  height: 1.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.tag--high{
  background-color: var(--status-red);
}

.tag--medium{
  background-color: var( --status-orange);

}

.tag--low{
  background-color: var( --status-green);
}

.deadline{
  color: var(--dark-grey);
}

.task-title{
  margin: 0.8rem 0;
}

.icon{
  width: 1.2rem;
  height: 1.2rem;
}

.icon--confirm{
  background-color: var(--status-green);
}


/*dinamic title*/

.title-input{
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
}

.title-input:focus{
  outline: solid;
  border-radius: 10px;
}

.input-handler{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/*// New task---------------*/
.fosco-bkg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0, 0.5);
  z-index: 2;

}


.newTask-window{
  width: 40rem;
  height: auto;
  margin: auto;
  transform: translateY(30%);
  border: 4px solid var(--black)
}

.newTask-header{
  /* padding: 1rem; */
  background-color: var(--green);
  /* border-radius: 7px 7px 0 0px; */
  border-bottom: 2px solid black;
  align-items: center;
}

.newTask-close{
  padding: 0.5rem 1rem;
  /* height: 100%; */
  border: none;
  border-left: 2px solid var(--black);
  outline: none;
  font-size: 1.2rem;
}

.newTask-close:hover{
  background-color: var(--status-red);
}

.newTask-form{
  padding: 0 6rem;
}

.newTask-input{
  padding-top: 2rem;
}

.newTask-input label{
  display: block;
}

.newTask-input input, select{
  padding-left: 1rem;
  width: 100% !important;
  height: 2rem;
}


.bttm{
  border:0;
  background: none;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
}

.bttm:hover{
  border-radius: 50%;
  background-color: var(--yellow);
}

.newTask-title{
  text-align: center;
  flex-grow: 1;
}

.newtask-bttm{
  display: block;
  width:  10rem;
  height: 3rem;
  border-radius: 10px;
  margin: 2rem auto;
  font-size: 1rem;
}

.newtask-bttm:hover:not(:disabled){
  background-color: var(--yellow);
}





