.container{
  /* outline: 1px solid red; */
  padding: 2%;
  background-color: var(--grey);
}

.header{
  /* border: 1px solid blue; */
  margin-bottom: 2rem;
}

.header-title{
  font-size: 3rem;
}

.card-box{
  border-radius: 10px;
  border: solid black;
  border-width: 2px 4px 4px 2px;
}

.icon-box{
  width: 2rem;
  height: 2rem;
  border: solid black;
  border-width: 1px 3px 3px 1px;
}

.icon-box--rounded{
  border-radius: 20px;
  width: 2rem;
  height: 2rem;
  border: solid black;
  border-width: 1px 3px 3px 1px;
}

.columList{
  border-top: 2px solid black;
  padding-top: 2rem;
  gap: 2rem;
  white-space: nowrap;
  overflow-x: auto;
  /* align-items: center; */
  display: flex;
}

.column{
  height: auto;
  max-height: 70vh;
  width: 20rem;
  flex-shrink:0;
  padding: 2% 1%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  background-color: var(--pink);
}

.column--new{
  border: 3px dashed black; 
  height: 5rem;
  background-color: var(--grey);
}

.column--new:hover{
  cursor: pointer;
  background-color: var(--blue);
}

.column-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.col-title{
  text-wrap: wrap;
  word-break: break-all;
}

.col-head-bttms{
  align-self: flex-start;

}

.task-num{
  border-radius: 50%;
  width:2rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 180%;
  margin-right: 0.5rem;
  font-weight: bolder;
  background-color: var(--white);
  flex-shrink: 0;
  align-self: flex-start;
}


.addTask-bttm{
  border: 3px dashed black;
  border-radius: 15px;
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
}

.addTask-bttm:hover{
  background-color:black;
  color: var(--white);
}

.addTask-bttm:hover{
  cursor: pointer;
}

.card{
  text-wrap: wrap;
  word-break: break-all;
  padding: 1rem;
  background-color: var(--white);
}

.card-title{
  /* display: inline-block; */

  padding-bottom: 0.5rem;
}


.time-done{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag{
 display: inline-block;
  width: auto;
  height: auto;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;

}

.tag--high{
  background-color: var(--status-red);
}

.tag--medium{
  background-color: var( --status-orange);

}

.tag--low{
  background-color: var( --status-green);
}

.icon{
  width: 1rem;
}

.icon--confirm{
  background-color: var(--status-green);
}


/*dinamic title*/
.title-box{
  position: relative;
}

.title-input{
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  

}

.title-input:focus{
  outline: solid;
  border-radius: 10px;
}


.input-handler{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}






