:root{
  --green: #8CBEB2;
  --yellow: #F2C246;
  --blue: #76A4B2;
  --pink: #FD5A46;
  --grey: #C7D1D4;
  --dark-grey: #444e5b;
  --black: #1E2630;
  --white: #F4FFFF;
  --status-green: #7EDE93;
  --status-orange:#F3B562;
  --status-red: #F06060;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
  background-color: var(--white);
}