:root{
  --green: #00995E;
  --yellow: #FFC567;
  --blue: #058CD7;
  --pink: #FD5A46;
  --grey: #f5f2ec;
  --dark-grey: #ede7dd;
  --white: #f7f7f7;
  --status-green: #4CCD99;
  --status-orange:#FFAD60;
  --status-red: #D9534F;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}