*{
  padding: 0;
  margin: 0;
}

.steps-container{
  display: flex;
  justify-content: space-between;
  outline: 1px solid orange;
}

.step{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex:1;
}

.step-item{
  border: 2px solid green;
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.step-icon{
  width: 100%;
}

.step-number{
  color: green;
  font-size: 1.4rem;
}


.step::before{
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: -1;
}  

.step:last-child::after{
  content: none;
}

.step:first-child::before{
  content: none;
}
.step-title{
  font-size: 1.4rem;
} 

.continue-bttm{
  background-color: rgb(131, 54, 169);
  color: white;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-left: 2rem;
}



